# pixi environments
.pixi/*
!.pixi/config.toml

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Secrets
.env
.env.*
!.env.example